{% extends 'base.html' %}

{% block javascript %}
  {% include 'core/js/htmx.html' %}
  {% load static %}
  <script src="{% static 'js/toggle.js' %}" defer></script>
{% endblock %}
  
{% block content %}
  <div class="p-card">
    <h4 class="p-muted-heading">{{ project.name }}</h4>
    {% include 'todos/partials/_add_todo_form.html' %}
    <ul id="todos" class="p-list-divided">
      {% csrf_token %}
      {% for todo in project.todo_set.all %}
        {% include 'todos/partials/_todo.html' %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}