{% extends 'base.html' %}

{% block javascript %}
  {% include 'core/js/htmx.html' %}
{% endblock %}

{% block content %}
  <div class="p-card">
    {% if action == 'update' %}
      <div class="u-clearfix">
        <h3 class="u-float-left">{{ action|title }} Project</h3>
        <button
          type="button"
          class="p-button--negative u-float-right"
          hx-post="{% url 'project_trash' project.pk %}"
          hx-include="[name='csrfmiddlewaretoken']"
          hx-confirm="Are you sure you want to delete the project: {{ project.name }}?"
        >
          Delete
        </button>
      </div>
    {% else %}
      <h3 class="u-float-left">{{ action|title }} Project</h3>
    {% endif %}
    <div class="p-card__content">
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        {% if action == 'create' %}
          <a class="p-button" href="{% url 'project_list' %}">Cancel</a>
        {% else %}
          <a class="p-button" href="{% url 'project_detail' form.instance.pk %}">Cancel</a>
        {% endif %}
        <button type="submit" class="p-button--brand">Save</button>
      </form>
    </div>
  </div>
{% endblock %}
