{% extends 'base.html' %}

{% block javascript %}
  {% load static %}
  <script src="{% static 'js/toggle.js' %}" defer></script>
{% endblock %}
  
{% block content %}
  <div class="p-card">
    <div class="u-clearfix">
      <h3 class="u-float-left">
        {% include 'todos/partials/_completable.html' with completable=project class_name='p-checkbox--heading' %}
      </h3>
      <div class="u-float-right">
        <a class="p-button" href="{% url 'project_update' project.pk %}">Edit</a>
      </div>
    </div>
    <div class="p-media-object">
      <div class="p-media-object__details">
        <ul class="p-media-object__meta-list">
          {% if project.deadline %}
            <li class="p-media-object__meta-list-item--date">
              <span>Deadline: </span>{{ project.deadline }}
            </li>
          {% endif %}
          {% if project.is_completed %}
            <li>
              <p><i class="p-icon--success"></i> Completed at {{ project.completed_at }}</p>
            </li>
          {% endif %}
        </ul>
        <p class="p-media-object__content">{{ project.description }}</p>
      </div>
    </div>
    {% include 'todos/partials/_add_todo_form.html' %}
    {% csrf_token %}
    <div class="u-clearfix">
      <h4 class="u-float-left">Todos</h4>
      <form
        id="sortForm"
        class="p-form p-form--inline u-float-right"
        hx-get="{% url 'todo_list' %}"
        hx-trigger="change"
        hx-target="#todoList"
        hx-swap="outerHTML"
        hx-include="#searchForm, #filtersForm"
        hx-push-url="true"
      >
        <div class="p-form__group">
          <label for="username-inline" class="p-form__label">Order by:</label>
          <div class="p-form__control">
            {{ sort_todos_form.sort }}
          </div>
        </div>
      </form>
    </div>
    {% include 'todos/partials/_todo_filter_form.html' %}
    {% include 'todos/partials/_todo_list.html' with disable_pagination=True %}
  </div>
{% endblock %}