{% extends 'base.html' %}

{% block content %}
  <div class="p-card">
    <div class="u-clearfix">
      <h3 class="u-float-left">My Projects</h3>
      <a class="p-button--brand u-float-right" href="{% url 'project_create' %}">New Project</a>
    </div>
    <ul class="p-list--divided">
      {% for project in projects %}
        <li class="p-list__item">
          <div class="p-media-object">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a>
                <span class="p-badge p-badge" aria-label="{{ project.todo_count }} items todo">{{ project.todo_count }}</span>
              </h3>
              <ul class="p-media-object__meta-list">
                {% if project.deadline %}
                  <li class="p-media-object__meta-list-item--date">
                    <span>Deadline: </span>{{ project.deadline }}
                  </li>
                {% endif %}
                {% if project.is_completed %}
                  <li>
                    <p><i class="p-icon--success"></i> Completed at {{ project.completed_at }}</p>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
