{% extends 'base.html' %}

{% block content %}
  <div class="p-card">
    <h4 class="p-muted-heading">{{ todo.name }}</h4>
    {% if todo.project %}
      <a href="{% url 'project_detail' todo.project.pk %}">{{ todo.project.name }}</a>
    {% endif %}
    <div>
      {% for tag in todo.tags.all %}
        <span class="p-chip--information">{{ tag.name }}</span>
      {% endfor %}
    </div>
    {% if todo.is_completed %}
      <p><i class="p-icon--success"></i> Completed at {{ todo.completed_at }}</p>
    {% endif %}
    {% if todo.deadline %}
      <div>
        <i class="fa-regular fa-calendar"></i>
        <span><strong>Deadline:</span></strong>
        <p>{{ todo.deadline }}</p>
      </div>
    {% endif %}
    {% if todo.description %}
      <i class="fa-regular fa-note-sticky"></i>
      <span><strong>Description:</strong></span>
      <p>{{ todo.description }}</p>
    {% endif %}
    <a class="p-button" href="{% url 'todo_update' todo.pk %}">Edit</a>
  </div>
{% endblock %}