{% extends 'base.html' %}

{% block content %}
  {% csrf_token %}
  <div class="p-card">
    <div class="u-clearfix">
      <h3 class="u-float-left">
        {% include 'todos/partials/_completable.html' with completable=todo class_name='p-checkbox--heading' %} 
      </h3>
      <a class="p-button u-float-right" href="{% url 'todo_update' todo.pk %}">Edit</a>
    </div>
    {% if todo.project %}
      <a href="{% url 'project_detail' todo.project.pk %}">{{ todo.project.name }}</a>
    {% endif %}
    <div>
      {% include 'todos/partials/_priority.html' with todo=todo %}
      {% for tag in todo.tags.all %}
        <span class="p-chip--information">{{ tag.name }}</span>
      {% endfor %}
    </div>
    {% if todo.is_completed %}
      <p><i class="p-icon--success"></i> Completed at {{ todo.completed_at }}</p>
    {% endif %}
    {% if todo.deadline %}
      <div>
        <i class="p-icon--date"></i>
        <span><strong>Deadline:</span></strong>
        <p>{{ todo.deadline }}</p>
      </div>
    {% endif %}
    {% if todo.description %}
      <span><strong>Description:</strong></span>
      <p><pre>{{ todo.description }}</pre></p>
    {% endif %}
  </div>
{% endblock %}