{% extends 'base.html' %}


{% block content %}
  <div class="p-card">
    <h3>Update Todo</h3>
    <form
      id="todoUpdateForm"
      hx-post="{% url 'todo_update' form.instance.pk %}"
      hx-include="[name='tags']"
    >
      {% csrf_token %}
      {% include 'core/forms/field.html' with field=form.name %}
      {% include 'core/forms/field.html' with field=form.project %}
      {% include 'core/forms/field.html' with field=form.deadline %}
      {% include 'core/forms/field.html' with field=form.description %}
    </form>
    <form 
      id="tagForm"
      class="addTodoFields"
      hx-post="{% url 'add_tag' %}"
      hx-target="this"
      hx-swap="innerHTML"
    >
      {% include 'todos/partials/_tag_form.html' %}
    </form>
    <a class="p-button" href="{% url 'todo_detail' form.instance.pk %}">Cancel</a>
    <button class="p-button--brand" type="submit" form="todoUpdateForm">Save</button>
  </div>
{% endblock %}