{% extends 'base.html' %}

{% block javascript %}
  {% include 'core/js/htmx.html' %}
{% endblock %}

{% block content %}
  {% include 'quotes/partials/_quote.html' %}
  <div class="p-card">
    <form
      id="todoCreateForm"
      hx-post="{% url 'todo_create' %}" 
      hx-include="[name='tags']"
      hx-target="#todos"
      hx-swap="beforeend show:#todos:bottom"
    >
      {% csrf_token %}
      {{ add_todo_form.name }}
      <button
        id="#toggleFieldsButton"
        class="p-button--link has-icon"
        type="button"
        data-toggle=".addTodoFields"
        data-show-text="More fields"
        data-hide-text="Less fields"
      >
        <span>More fields</span>
        <i class="p-icon--chevron-down"></i>
      </button>
      <div class="u-hide addTodoFields">
        {{ add_todo_form.deadline.label_tag }}
        {{ add_todo_form.deadline }}
        {{ add_todo_form.description.label_tag }}
        {{ add_todo_form.description }}
      </div>
    </form>
    <form 
      id="tagForm"
      class="u-hide addTodoFields"
      hx-post="{% url 'add_tag' %}"
      hx-target="this"
      hx-swap="innerHTML"
    >
      {% include 'todos/partials/_tag_form.html' %}
    </form>
    <button class="u-hide addTodoFields p-button--brand" type="submit" form="todoCreateForm">Add</button>
    <h3>My Todos</h3>
    <button
      class="p-button--link has-icon"
      type="button"
      data-toggle="#filtersForm"
      data-show-text="Show filters"
      data-hide-text="Hide filters"
    >
      <span>Show filters</span>
      <i class="p-icon--chevron-down"></i>
    </button>
    <form
      id="filtersForm"
      hx-get="{% url 'todo_list' %}"
      hx-swap="outerHTML"
      hx-target="#todos"
      hx-push-url="true"
      class="u-hide"
    >
      {{ filter_todos_form.tag.label_tag }}
      {{ filter_todos_form.tag }}
      {{ filter_todos_form.deadline_start.label_tag }}
      {{ filter_todos_form.deadline_start }}
      {{ filter_todos_form.deadline_end.label_tag }}
      {{ filter_todos_form.deadline_end }}
      <label class="p-checkbox">
        <input
          type="checkbox"
          name="completed"
          aria-labelledby="completedLabel"
          class="p-checkbox__input"
          {% if request.GET.completed == 'on' %}
            checked
          {% endif %}
        >
        <span class="p-checkbox__label" id="completedLabel">{{ filter_todos_form.completed.label }}</span>
      </label>
      <label class="p-checkbox">
        <input
          type="checkbox"
          name="in_trash"
          aria-labelledby="inTrashLabel"
          class="p-checkbox__input"
          {% if request.GET.in_trash == 'on' %}
            checked
          {% endif %}
        >
        <span class="p-checkbox__label" id="inTrashLabel">{{ filter_todos_form.in_trash.label }}</span>
      </label>
      <button type="button" id="clearFiltersButton">Clear Filters</button>
      <button type="submit">Apply Filters</button>
    </form>
    {% include 'todos/partials/_todo_list.html' %}
  </div>
    <script>
      document.addEventListener('htmx:afterRequest', function({detail}) {
        if (detail.requestConfig.elt.id == 'todoCreateForm' && detail.successful) {
          detail.requestConfig.elt.reset();
        } 
      });
     for (const toggle of document.querySelectorAll('[data-toggle]')) {
        toggle.onclick = function() {
          for (const element of document.querySelectorAll(toggle.dataset.toggle)) {
            if (element.classList.contains('u-hide')) {
              element.classList.remove('u-hide');
              toggle.querySelector('span').innerText = toggle.dataset.hideText;
              toggle.querySelector('i').className = 'p-icon--chevron-down'
            } else {
              element.classList.add('u-hide');
              toggle.querySelector('span').innerText = toggle.dataset.showText;
              toggle.querySelector('i').className = 'p-icon--chevron-up'
            }
          }
        }
      }
      document.getElementById('clearFiltersButton').onclick = function() {
        const form = document.getElementById('filtersForm');
        for (const element of form.querySelectorAll('input:not(hidden)')) {
          if (element.type === 'checkbox') {
            element.checked = false;
          } else {
            element.value = '';
          }
        }
        form.querySelector('button[type="submit"]').click();
      }
  </script>
{% endblock %}