<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.6.0.min.css" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  {% block javascript %}
  {% endblock %}
  <title>Half Empty</title>
</head>
<body>
  <header id="navigation" class="p-navigation is-dark mb-1">
    <div class="p-navigation__row">
      <div class="p-navigation__banner">
        <a class="p-navigation__link" href="{% url 'index' %}">
          <span class="p-navigation__logo-title">
            🥃 Half Empty
          </span>
        </a>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu"><i class="p-icon--menu is-light"></i>
        </a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu"><i class="p-icon--close is-light"></i></a>
      </div>
      
      <nav class="p-navigation__nav" aria-label="Main navigation">
        <ul class="p-navigation__items">
          {% if user.is_authenticated %}
            {% url 'todo_list' as todo_url %}
            <li 
              {% if todo_url in request.path %}
                class="p-navigation__item is-selected"
              {% else %}
                class="p-navigation__item"
              {% endif %}
            >
              <a class="p-navigation__link" href="{{ todo_url }}">Todos</a>
            </li>
            {% url 'project_list' as project_url %}
            <li 
              {% if project_url in request.path %}
                class="p-navigation__item is-selected"
              {% else %}
                class="p-navigation__item"
              {% endif %}
            >
              <a class="p-navigation__link" href="{{ project_url }}">Projects</a>
            </li>
          {% endif %}
          {% url 'contact' as contact_url %}
          <li 
            {% if contact_url in request.path %}
              class="p-navigation__item is-selected"
            {% else %}
              class="p-navigation__item"
            {% endif %}
          >
            <a class="p-navigation__link" href="{{ contact_url }}">Contact</a>
          </li>
          <li
            {% if '/accounts' in request.path %}
              class="p-navigation__item--dropdown-toggle is-selected"
            {% else %}
              class="p-navigation__item--dropdown-toggle"
            {% endif %}
          >
            <a class="p-navigation__link" aria-controls="account-menu" data-dropdown="account">
              Account
            </a>
            <ul class="p-navigation__dropdown--right" id="account-menu" aria-hidden="true">
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'profile_detail' %}" class="p-navigation__dropdown-item">Profile</a>
                </li>
                <li>
                  <a href="{% url 'security' %}" class="p-navigation__dropdown-item">Security</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}" class="p-navigation__dropdown-item">Log Out</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'login' %}" class="p-navigation__dropdown-item">Log In</a>
                </li>
                <li>
                  <a href="{% url 'signup' %}" class="p-navigation__dropdown-item">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="l-main">
    <div class="row">
      {% if messages %}
        {% for message in messages %}
          <div id="notification-{{ forloop.counter }}" class="p-notification--{{ message.tags }}">
            <div class="p-notification__content">
              <p class="p-notification__message">{{ message }}</p>
              <button class="p-notification__close" aria-controls="notification" data-dismisses="notification-{{ forloop.counter }}">Close</button>
            </div>
          </div>
        {% endfor %}
        <script>
          document.addEventListener('click', function(e) {
            if (e.target.dataset.dismisses) {
              document.getElementById(e.target.dataset.dismisses).remove();
            }
          })
        </script>
      {% endif %}
      {% include 'quotes/partials/_quote.html' %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <script>
    for (const element of document.querySelectorAll('[data-dropdown]')) {
      const menu = document.getElementById(element.getAttribute('aria-controls'));
      function show() {
        element.parentElement.classList.add('is-active');
        menu.ariaHidden = 'false';
      }
      function hide() {
        element.parentElement.classList.remove('is-active');
        menu.ariaHidden = 'true';
      }
      function isActive() {
        return element.parentElement.classList.contains('is-active');
      }
      element.onmouseenter = show;
      element.parentElement.onmouseleave = hide;
      element.onclick = function() {
        isActive() ? hide() : show();
      }
    }
  </script>
</body>
</html>