<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.6.0.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  {% block javascript %}
  {% endblock %}
  <title>Half Empty</title>
</head>
<body>
  <header id="navigation" class="p-navigation is-dark">
    <div class="p-navigation__row">
      <div class="p-navigation__banner">
        <a class="p-navigation__link" href="{% url 'index' %}">
          <span class="p-navigation__logo-title">
            <i class="fa-solid fa-whiskey-glass"></i>
            Half Empty
          </span>
        </a>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      </div>
      
      <nav class="p-navigation__nav" aria-label="Main navigation">
        <ul class="p-navigation__items">
          {% if user.is_authenticated %}
            <li 
              {% if '/todos' in request.path %}
                class="p-navigation__item is-selected"
              {% else %}
                class="p-navigation__item"
              {% endif %}
            >
              <a class="p-navigation__link" href="{% url 'todo_list' %}">Todos</a>
            </li>
            <li 
              {% if '/projects' in request.path %}
                class="p-navigation__item is-selected"
              {% else %}
                class="p-navigation__item"
              {% endif %}
            >
              <a class="p-navigation__link" href="{% url 'project_list' %}">Projects</a>
            </li>
          {% endif %}
          <li
            {% if '/accounts' in request.path %}
              class="p-navigation__item--dropdown-toggle is-selected"
            {% else %}
              class="p-navigation__item--dropdown-toggle"
            {% endif %}
          >
            <a class="p-navigation__link" aria-controls="account-menu" data-dropdown="account">
              Account
            </a>
            <ul class="p-navigation__dropdown--right" id="account-menu" aria-hidden="true">
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'profile_detail' %}" class="p-navigation__dropdown-item">Profile</a>
                </li>
                <li>
                  <a href="{% url 'security' %}" class="p-navigation__dropdown-item">Security</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}" class="p-navigation__dropdown-item">Log Out</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'login' %}" class="p-navigation__dropdown-item">Log In</a>
                </li>
                <li>
                  <a href="{% url 'signup' %}" class="p-navigation__dropdown-item">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="l-main">
    <div class="row">
      {% if messages %}
        {% for message in messages %}
          <div id="notification-{{ forloop.counter }}" class="p-notification--{{ message.tags }}">
            <div class="p-notification__content">
              <p class="p-notification__message">{{ message }}</p>
              <button class="p-notification__close" aria-controls="notification" data-dismisses="notification-{{ forloop.counter }}">Close</button>
            </div>
          </div>
        {% endfor %}
        <script>
          document.addEventListener('click', function(e) {
            if (e.target.dataset.dismisses) {
              document.getElementById(e.target.dataset.dismisses).remove();
            }
          })
        </script>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <script>
    for (const element of document.querySelectorAll('[data-dropdown]')) {
      element.onmouseenter = function() {
        element.parentNode.classList.add('is-active');
      }
      element.parentElement.onmouseleave = function() {
        element.parentElement.classList.remove('is-active');
      }
      element.onclick = function() {
        element.parentElement.classList.toggle('is-active');
      }
    }
  </script>
</body>
</html>