<div id="completable-{{ completable.pk }}">
  <label class="{{ class_name }}">
    <input
      type="checkbox"
      aria-labelledby="checkboxLabel{{ completable.pk }}"
      class="p-checkbox__input"
      hx-post="{{ completable.get_absolute_url }}toggle_completion/?class_name={{ class_name }}"
      hx-include="[name='csrfmiddlewaretoken']"
      {% if is_detail %}
        hx-swap="outerHTML"
        hx-target="#completable-{{ completable.pk }}"
      {% else %}
        hx-swap="none"
      {% endif %}
      hx-trigger="click"
      {% if completable.is_completed %}
        checked
      {% endif %}
    >
    <span 
      id="checkboxLabel{{ completable.pk }}"
      {% if completable.is_completed %}
        class="p-checkbox__label completed"
      {% else %}
        class="p-checkbox__label"
      {% endif %}
    >
      {{ completable.name }}
    </span>
  </label>
</div>
{% if is_detail and request.is_htmx %}
  <div id="completionStatus" hx-swap-oob="true">
    {% if completable.is_completed %}
    <p><i class="p-icon--success"></i> Completed at {{ completable.completed_at }}</p>
    {% endif %}
  </div>
{% endif %}