<li
  class="p-list__item todo"
  hx-include="[name='csrfmiddlewaretoken']"
  id="todoLi-{{ todo.pk }}"
>
  <div class="todo-tags">
    {% include 'todos/partials/_completable.html' with completable=todo class_name='p-checkbox' %}
    <span class="u-hide u-show--large">
      {% include 'todos/partials/_priority.html' with todo=todo %}
      {% for tag in todo.tags.all|slice:":2" %}
        <span class="p-chip--information">{{ tag.name }}</span>
      {% endfor %}
      {% if todo.tag_count > 2 %}
        <span class="p-badge">
          +{{ todo.tag_count|add:"-2" }}
        </span>
      {% endif %}
    </span>
  </div>
  <div>
    <span class="p-contextual-menu">
      <button class="p-button--base p-contextual-menu__toggle has-icon" aria-controls="menu-{{ todo.pk }}" aria-expanded="false" aria-haspopup="true" aria-label="Actions menu"><i class="p-icon--menu p-contextual-menu__indicator"></i></button>
      <span class="p-contextual-menu__dropdown" id="menu-{{ todo.pk }}" aria-hidden="true">
        <span class="p-contextual-menu__group">
            <a class="p-contextual-menu__link" href="{% url 'todo_detail' todo.pk %}">View</a>
            <a class="p-contextual-menu__link" href="{% url 'todo_update' todo.pk %}">Edit</a>
            <button
              type="button"
              class="p-contextual-menu__link"
              hx-post="{% url 'convert_to_project' todo.pk %}"
            >
              Convert to project
            </button>
            {% if todo.is_trashed %}
            <button
              type="button"
              class="p-contextual-menu__link"
              hx-post="{% url 'todo_restore' todo.pk %}"
              hx-include="[name=csrfmiddlewaretoken]"
              hx-swap="delete"
              hx-target="#todoLi-{{ todo.pk }}"
            >
              Restore
            </button>
            <button
              type="button"
              class="p-contextual-menu__link"
              hx-post="{% url 'todo_delete' todo.pk %}"
              hx-include="[name=csrfmiddlewaretoken]"
              hx-swap="delete"
              hx-confirm="Are you sure you want to permanently delete this todo? This cannot be undone."
              hx-target="#todoLi-{{ todo.pk }}"
            >
              Permanently Delete
            </button>
            {% else %}
            <button
              type="button"
              class="p-contextual-menu__link"
              hx-post="{% url 'todo_trash' todo.pk %}"
              hx-swap="delete"
              hx-confirm="Are you sure you want to delete this todo?"
              hx-target="#todoLi-{{ todo.pk }}"
            >
              Delete
            </button>
            {% endif %}
        </span>
      </span>
    </span>
  </div>
</li>
