<div id="searchAndFilter" class="p-search-and-filter mb-1">
  <div class="p-search-and-filter__search-container" aria-expanded="false" data-active="true" data-empty="true">
    <form
      id="searchForm"
      class="p-search-and-filter__box"
      data-overflowing="false"
      hx-get="{% url 'todo_list' %}" 
      hx-target="#todoList"
      hx-swap="outerHTML"
      hx-include="#filtersForm, #sortForm"
      hx-trigger="input delay:250ms"
      hx-push-url="true"
    >
      <label class="u-off-screen" for="search">Search and filter</label>
      <input
        id="search"
        autocomplete="off"
        class="p-search-and-filter__input"
        name="search" placeholder="Search and filter"
        type="search"
        value="{{ request.GET.search }}"
      > 
    </form>
  </div>
  <div id="filter" class="p-search-and-filter__panel" aria-hidden="true">
    <div class="p-filter-panel-section">
      <form
        id="filtersForm"
        hx-get="{% url 'todo_list' %}"
        hx-target="#todoList"
        hx-swap="outerHTML"
        hx-trigger="change"
        hx-include="#searchForm, #sortForm"
        hx-push-url="true"
      >
        {{ filter_todos_form.project }}
        {{ filter_todos_form.tag.label_tag }}
        {{ filter_todos_form.tag }}
        {{ filter_todos_form.status.label_tag }} 
        {{ filter_todos_form.status }} 
        {{ filter_todos_form.deadline_start.label_tag }}
        {{ filter_todos_form.deadline_start }}
        {{ filter_todos_form.deadline_end.label_tag }}
        {{ filter_todos_form.deadline_end }}
        <button id="closeFiltersButton" type="button">Clear</button>
        <button type="submit">Close</button>
      </form>
    </div>
  </div>
</div>
<script>
  const search = document.getElementById('search');
  const filter = document.getElementById('filter');
  function hideFilters() {
    search.parentElement.parentElement.dataset.active = 'false';
    filter.ariaHidden = true;
  }
  function isActive() {
    return document.querySelector('.p-search-and-filter__search-container').dataset.active === 'true';
  }
  function showFilters() {
    search.parentElement.parentElement.dataset.active = 'true';
    filter.ariaHidden = 'false';
  }
  function toggleFilters() {
    isActive() ? hideFilters() : showFilters();
  }
  search.onfocus = showFilters;
  document.getElementById('searchAndFilter').onclick = function(e) {
    e.stopPropagation();
  }
  window.onclick = hideFilters;
  document.getElementById('searchForm').onsubmit = function(e) {
    e.preventDefault();
    toggleFilters();
  }
  document.getElementById('filtersForm').onsubmit = function(e) {
    e.preventDefault();
    hideFilters();
  }
  document.getElementById('closeFiltersButton').onclick = function(e) {
    for (const element of e.target.parentElement.querySelectorAll('input:not([type="hidden"])')) {
      console.log(element);
      element.value = '';
    }
    e.target.parentElement.querySelector('select').value = 'active';
    document.getElementById('filtersForm').submit()
  }
</script>