<div id="todoList">
  <ul id="todos" class="p-list--divided p-card__content">
    {% for lead, value in chips %}
    <span class="p-chip--information">
      {% if lead %}
      <span class="p-chip__lead">{{ lead }}</span>
      {% endif %}
      <span class="p-chip__value">{{ value }}</span>
    </span>
    {% endfor %}
    {% for todo in todos %}
    {% include 'todos/partials/_todo_li.html' with todo=todo %}
    {% endfor %}
  </ul>
  {% if not disable_pagination %}
    <nav class="p-pagination" aria-label="Pagination">
      <ol class="p-pagination__items">
        <li class="p-pagination__item">
          <a
            title="Previous page"
            {% if page_obj.has_previous %}
              class="p-pagination__link--previous"
              hx-get="?page={{ page_obj.previous_page_number }}"
              hx-target="#todoList"
              hx-swap="outerHTML"
              hx-push-url="true"
              hx-include="#filtersForm"
            {% else %}
              class="p-pagination__link--previous is-disabled"
              disabled
            {% endif %}
            >
            <i class="p-icon--chevron-down"></i><span>Previous page</span>
          </a>
        </li>
        <li class="p-pagination__item">
          <a
            title="Next page"
            {% if page_obj.has_next %}
              class="p-pagination__link--next"
              hx-get="?page={{ page_obj.next_page_number }}"
              hx-target="#todoList"
              hx-swap="outerHTML"
              hx-push-url="true"
              hx-include="#filtersForm"
            {% else %}
              class="p-pagination__link--next is-disabled"
              disabled
            {% endif %}
            >
            <span>Next page</span><i class="p-icon--chevron-down"></i>
          </a>
        </li>
      </ol>
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
    </nav>
  {% endif %}
</div>