<li
  class="p-list__item todo"
  hx-include="[name='csrfmiddlewaretoken']"
  id="todoLi-{{ todo.pk }}"
>
  <label class="p-checkbox" id="todo-{{ todo.pk }}">
    {% include 'todos/partials/_todo.html' with todo=todo %}
  </label>
  <div>
    <a class="p-button" href="{% url 'todo_detail' todo.pk %}" aria-label="Todo detail">
      <i class="fa-solid fa-circle-info"></i>
    </a>
    <button
      type="button"
      class="p-button--negative"
      aria-label="Delete todo"
      hx-post="{% url 'todo_trash' todo.pk %}"
      hx-swap="delete"
      hx-confirm="Are you sure you want to delete this todo?"
      hx-target="#todoLi-{{ todo.pk }}"
    >
      <i class="fas fa-trash"></i>
    </button>
  </div>
</li>
