.todo {
    display: flex;
    justify-content: space-between;
}

.todo-tags {
    display: flex;
    gap: 1rem;
}

.completed {
    text-decoration: line-through;
}

.addTodo {
    display: flex;
    padding-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.p-card:has(> .p-search-and-filter) {
    overflow: visible;
}

.p-contextual-menu .p-contextual-menu__dropdown {
    top: 75%;
}
