.todo {
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
}

.addTodo {
    display: flex;
    padding-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}
